.card .card-content-type {
    color: gray;
    font-size: 20px;
}

.card .card-content {
    padding-left: 5%;
}

#app {
    display: flex;
}

#app #sidebar {
    width: 30%;
    min-height: 1350px;
    background-color:#f9f9f9;
}

#app #main {
    width: 70%;
}

#new-wordbook-form {
    margin: 2%;
}

#new-wordbook-form ul li {
    list-style: none;
    margin-left: -10%;
}

#add-card-list ul li {
    margin: 2% 2% 2% -13%;
}

#add-card-list .add-card-list-header {
    background:skyblue;
    color: white;
    text-align: center;
    width: 110%;
}

#wordbook-info #wordbook-name {
    color: gray;
    font-size: 25px;
    margin-left: 42.5%;
}

#new-card-button {
    margin-top: 2.5%;
    margin-left: 70%;
}

#new-card-button a {
    color: white;
    text-decoration: none;
}

#new-card-button a:hover {
    color: white;
    text-decoration: none;
}

#card-search-form {
    margin-top: 2.5%;
    margin-left: 37.5%;
}

#card-list {
    margin: 0% 17.5% 0% 15.5%;
}

#card-list ul li {
    list-style: none;
    margin: 2.5% 0% 2.5% 0%;
}

#card-list a {
    color: gray;
    text-decoration: none;
}

#card-list a:hover {
    color: lightgray;
    text-decoration: none;
}

#card-list .card {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color:black;
    padding: 5% 5% 5% 5%;
}

#card-list .card:hover {
    border-style: solid;
    border-color:black;
    background-color: #f1f1f1;
    padding: 5% 5% 5% 5%;
}

#card-list .card .add-card-mark {
    background-color: rgb(72, 221, 72);
    color: white;
    border-radius: 5px;
    padding: 5px;
}

#pagination {
    margin-left: 47.5%;
}