#wordbook-search-form {
    margin: 2.5% 0% 0% 38.5%;
}

#wordbook-list {
    width: 50%;
    margin: 0% 25% 0% 23.5%;
}

#wordbook-list ul li {
    list-style: none;
    margin: 5% 0% 5% 0%;
}

#wordbook-list .wordbook {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color:black;
    padding: 5% 5% 5% 5%;
}

#wordbook-list .wordbook:hover {
    border-style: solid;
    border-color:black;
    background-color: #f1f1f1;
    padding: 5% 5% 5% 5%;
}

#wordbook-list .wordbook .wordbook-content-type {
    color: gray;
    font-size: 20px;
}

#wordbook-list .wordbook .wordbook-content {
    padding-left: 5%;
}

#pagination {
    margin-left: 45%;
}