#user-profile {
    margin-top: 5%;
    margin-left: 38.5%;
}

#user-profile img.user-icon {
    width: 100px;
    height: 100px;
}

#menu {
    margin: 5% 0% 10% 35%;
}

#menu ul li {
    list-style: none;
    float: left;
    margin-left: 5%;
}

#menu a {
    color: gray;
    text-decoration: none;
}

#menu a:hover {
    color: lightgray;
    text-decoration: none;
}
