#user-profile {
    margin-top: 5%;
    margin-left: 38.5%;
}

#user-profile img.user-icon {
    width: 100px;
    height: 100px;
}

#menu {
    margin: 5% 0% 10% 35%;
}

#menu ul li {
    list-style: none;
    float: left;
    margin-left: 5%;
}

#menu a {
    color: gray;
    text-decoration: none;
}

#menu a:hover {
    color: lightgray;
    text-decoration: none;
}

#card-search-form {
    margin-left: 38.5%;
}

#card-list {
    width: 50%;
    margin: 0% 25% 0% 23.5%;
}

#card-list ul li {
    list-style: square;
    margin: 5% 0% 5% 0%;
}

#card-list .card {
    border-style: solid;
    border-color:black;
    padding: 2.5% 5% 2.5% 5%;
}

#card-list .card:hover {
    border-style: solid;
    border-color:black;
    background-color: #f1f1f1;
    padding: 2.5% 5% 2.5% 5%;
}

#card-list .card .card-content-type {
    color: gray;
    font-size: 20px;
}

#card-list .card .card-content {
    padding-left: 5%;
}

#pagination {
    margin-left: 45%;
}