{% extends 'base/base.html' %}
{% load static %}

{% block extra_header %}
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js" defer></script>
    <script src="https://unpkg.com/vue-cookies@1.7.4/vue-cookies.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{% static 'cards_front/cards.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'base/cards.css' %}">
{% endblock %}

{% block content %}
    <div id="app">
        {% if user.is_authenticated %}
            <button type="button" class="btn btn-primary rounded-pill" id="new-card-button">
                <a href="{% url 'cards_front:new_card' %}">+ 新規カード</a>
            </button>
        {% endif %}

        {% include 'base/cards.html' %}
    </div>
{% endblock %}