{% extends 'base/base.html' %}
{% load static %}

{% block extra_header %}
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js" defer></script>
    <script src="https://unpkg.com/vue-cookies@1.7.4/vue-cookies.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{% static 'cards_front/new_card.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'cards_front/new_card.css' %}">
{% endblock %}

{% block content %}
    <div id="app">
        <div id="card-form">
            <span id="card-create-header">新規カード作成</span>
            <form class="form-inline my-2 my-lg-0" action="" method="POST" v-on:submit.prevent="create_card()">
                <ul>
                    <li><span class="form-header">Word </span><br><textarea id="word-form" name=”word” wrap=”hard” value="" v-model="word" required></textarea></li>
                    <li><span class="form-header">Answer </span><br><textarea id="answer-form" name=”answer” wrap=”hard” value="" v-model="answer" required></textarea></li>
                    <li>非公開カードとして作成: <input type="checkbox" name="is_hidden" value="true" value="" v-model="is_hidden"></li>
                    <li><button id="create-button" class="btn btn-outline-success my-2 my-sm-0" type="submit">作成</button></li>
                </ul>
            </form>
        </div>
    </div>
{% endblock %}