<div class="settings-links">
    <ul>
        <li><span value="{{ user.username }}" id="username">ユーザ名: ${ username }</span></li>
        <li><a href="{% url 'settings_front:user_info' %}">ユーザ情報</a></li>
        <li><a href="{% url 'settings_front:password_change' %}">パスワード変更</a></li>
        <li><a href="{% url 'settings_front:cards' %}">カード管理</a></li>
        <li><a href="{% url 'settings_front:wordbooks' %}">単語帳管理</a></li>
        <li><a href="{% url 'settings_front:delete_user' %}">アカウント削除</a></li>
    </ul>
</div>