{% extends 'base/base.html' %}
{% load static %}

{% block extra_header %}
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js" defer></script>
    <script src="https://unpkg.com/vue-cookies@1.7.4/vue-cookies.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{% static 'settings_front/password_change.js' %}" defer></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'settings_front/links.css' %}">
    <link rel="stylesheet" href="{% static 'settings_front/password_change.css' %}">
{% endblock %}

{% block content %}
    <div id="app">
        <div id="sidebar">
            {% include 'settings_front/links.html' %}
        </div>

        <div id="main">
            <div id="user-update-form">
                <div class="form-header">
                    パスワード変更
                </div> 
       
                <form enctype="multipart/form-data" class="form-horizontal" v-on:submit.prevent="update_password()">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fas fa-key"></i></div>
                            </div>
                            <input name="old_password" type="password" value="" placeholder="現在のパスワード" class="form-control password-form" required="required" v-model="old_password">
                        </div>

                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fas fa-key"></i></div>
                            </div>
                            <input name="password" type="password" value="" placeholder="新しいパスワード" class="form-control password-form" required="required" v-model="password">
                        </div>

                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fas fa-key"></i></div>
                            </div>
                            <input name="password2" type="password" value="" placeholder="新しいパスワード(確認用)" class="form-control password-form" required="required" v-model="password2">
                        </div>

                        <div class="form-row text-center">
                            <div class="col-12">
                                <input class="btn btn-primary" type="submit" value="パスワード更新"/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}